.Weather {
  font-family: "Mochiy Pop P One", sans-serif;
  border: 1px solid #202124;
  border-radius: 4px;
  padding: 20px;
}
.Weather form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 15px;
  line-height: 25px;
  list-style: none;
}
.WeatherInfo img {
  margin-right: 20px;

  height: 64px;
  width: 64px;
}
.Temperature .temperature {
  padding-left: 10px;
  font-size: 50px;
  line-height: 1;
}
.Temperature .unit {
  position: relative;
  font-size: 20px;
  top: -34px;
}
