.Weather {
  background: #fff8f3;
  font-family: "Mochiy Pop P One", sans-serif;
  border: 1px solid #202124;
  border-radius: 10px;
  padding: 20px;
}
.Weather form {
  margin-top: 30px;
  margin-bottom: 30px;
}
.Weather .btn {
  color: #faedf0;
  background-color: #655d8a;
  border-color: #655d8a;
  box-shadow: 10px 10px 20px rgb(165, 159, 168);
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 15px;
  line-height: 25px;
  list-style: none;
}
.WeatherInfo img {
  margin-right: 20px;
  height: 80px;
  width: 80px;
  position: relative;
  top: -15px;
}
.Temperature .temperature {
  padding-left: 3px;
  font-size: 40px;
  line-height: 1;
}
.Temperature .unit {
  position: relative;
  font-size: 15px;
  top: -25px;
}

.Forecast {
  text-align: center;
}
.Forecast img {
  height: 50px;
  width: 50px;
}

.Forecast-tempMin {
  opacity: 0.6;
  margin-left: 5px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 20px;
  }
  .Weather .form-control {
    font-size: 7px;
  }
  .Weather .btn {
    font-size: 7px;
  }
  .ForecastDay {
    font-size: 10px;
  }
}
